<h1>Cadastro Usuários</h1>

<form [formGroup]="formulario" #f="ngForm" (ngSubmit)="addUsuario()">
    <div class="col-6">
        <label>Id</label>
        <input id="id" name="id" [(ngModel)]="model.id" formControlName="id" class="form-control" type="text">
        <span 
        class="alert"
        *ngIf="formulario.get('id')?.errors && (formulario.get('id')?.touched)">
         Digite o id no campo acima
        </span>
    </div>
    <div class="col-6">
        <label>Nome</label>
        <input id="nome" name="nome" [(ngModel)]="model.nome" class="form-control" type="text" formControlName="nome">
        <span 
        class="alert"
        *ngIf="formulario.get('nome')?.errors && (formulario.get('nome')?.touched)">
         Digite seu nome no campo acima
        </span>
    </div>
    <div class="col-6">
        <label>Idade</label>
        <input id="idade" name="idade" formControlName="idade" [(ngModel)]="model.idade" class="form-control" type="text">
        <span 
        class="alert"
        *ngIf="formulario.get('idade')?.errors && (formulario.get('idade')?.touched)">
         Digite seu idade no campo acima
        </span>
    </div>
    <div class="col-6">
        <label>Perfil</label>
        <input id="perfil" name="perfil" [(ngModel)]="model.perfil" class="form-control" formControlName="perfil" type="text">
        <span 
        class="alert"
        *ngIf="formulario.get('perfil')?.errors && (formulario.get('perfil')?.touched)">
         Digite seu idade no campo acima
        </span>
    </div>
    <div class="row">
        <div class="col-6 mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid" >Adicionar</button>
        </div>
      
    </div>

</form>
<div id="ancora"></div>
